name: Release Notification

on:
  release:
    types: [published, released, created]

jobs:
  notify-on-release:
    runs-on: ubuntu-latest
    steps:
      - name: Send Telegram Notification on New Release
        uses: cbrgm/telegram-github-action@v1
        with:
          token: ${{ secrets.BOT_TOKEN }}
          to: ${{ secrets.CHAT_ID }}
          message: |
            ${{ github.event.release.name }}
            ${{ github.event.release.body }}
            
            Скачать -> ${{ github.event.release.html_url }}
